@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #02040a;
  color: #f4f4f5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes typing {
  from { width: 0; opacity: 0; }
  to { width: 100%; opacity: 1; }
}